p {
  text-align: center;
}

* {
    touch-action: manipulation;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

.displayNumber {
    margin-top: 30%;
}

.displayLock{
    text-align: center;
    margin-top: 8%;    
}

.displayPassCode {
    margin-top: 15%;
}

.passCircles {
    text-align: center;
    margin-bottom: 15%;
}

.displayLockHomeScreen{
    margin-top: 10%;
    text-align: center;
}

.displayTimeHomeScreen{
    text-align: center;
    height: 40%;
}

.timeHomeScreen{
    font-size: 4em;
    font-weight: 100;
}

.displayDateHomeScreen{
    margin-top: -8%;
    margin-bottom: 100%;
}

/* BUTTONS */

.button {
  background-color: #ddd;
  border-radius: 100%;
  border: black;
  color: #111;
  font-size: 2em;
  font-weight: 300;
  height: 2.2em;
  margin: 0.2em 0.4em;
  padding: auto;
  width: 2.2em;
}

.button > .number {
  /* position: absolute; */
  line-height: 0.95;
  margin: auto;
  text-align: center;
}

.button > .letters {
  padding-top: 0;
  font-size: 0.25em;
  font-weight: 600;
  letter-spacing: 0.3em;
  text-align: center;
  margin: auto;
}

.letters.hidden {
  opacity: 0;
}

.button > .asterisk {
  font-size: 1.5em;
  /* margin-top: 0.1em; */
  margin: auto;
  text-align: center;
}

.slideButton{
    margin-top: 2%;
    border-radius: 25%;
}

/* END BUTTONS */

.callButton {
  border-radius: 100%;
  border: black;
  margin: 5px 5px 5px 5px;
  padding: auto;
  width: 70px;
  height: 70px;
  font-size: 24px;
  background-color: lightgreen;
}

.backspaceButton {
  border-radius: 100%;
  border: none;
  margin: 5px 5px 5px 5px;
  padding: auto;
  width: 70px;
  height: 70px;
  font-size: 24px;
  background-color: transparent;
}

body {
  font: 12pt Helvetica, sans-serif;
}

.passCodeScreen{
    background-image: url(IPhoneImages/backgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

#emergencyCall{
    color: red;
    padding-bottom: 20px;
}

#phoneNumber {
  font-size: 30px;
}

.div.desktop {
    background-image: url(landingPageImage/desktop2.jpg);
}


#unlock{
    position: absolute;
    color: white;
    font-size: 8px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 38px;
}

/*
Media Queries
--TODO: Determine if this will leave a blank page at 600px.
*/

/*Styling for mobile*/

@media screen and (max-width: 600px) {
    div.desktop {
      display: none;
    }
    body{
        background-image: url(landingPageImage/desktop2.jpg);
        backdrop-filter: blur(10px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    body, html {
        height: 100%;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      * {
        box-sizing: border-box;
      }
      
      /* Position text in the middle of the page/image */
      .bg-text {
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
      }


  }

  /*Styling for larger devices*/

  @media screen and (min-width: 600px) {
    div.mobile {
      display: none;
    }
    body{
        background-image: url(landingPageImage/desktop1.jpg);
        backdrop-filter: blur(5px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    body, html {
        height: 100%;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      * {
        box-sizing: border-box;
      }
      
      /* Position text in the middle of the page/image */
      .bg-text {
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
      }
  }
