p {
  text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

.displayNumber {
    margin-top: 30%;
}

.displayLock{
    text-align: center;
    margin-top: 8%;    
}

.displayPassCode {
    margin-top: 15%;
}

.passCircles {
    text-align: center;
    margin-bottom: 15%;
}

/* BUTTONS */

.button {
  background-color: #ddd;
  border-radius: 100%;
  border: black;
  color: #111;
  font-size: 2em;
  font-weight: 300;
  height: 2.2em;
  margin: 0.2em 0.4em;
  padding: auto;
  width: 2.2em;
}

.button > .number {
  /* position: absolute; */
  line-height: 0.95;
}

.button > .letters {
  padding-top: 0;
  font-size: 0.25em;
  font-weight: 600;
  letter-spacing: 0.3em;
  text-align: center;
}

.letters.hidden {
  opacity: 0;
}

.button > .asterisk {
  font-size: 1.5em;
  margin-top: 0.1em;
}

/* END BUTTONS */

.callButton {
  border-radius: 100%;
  border: black;
  margin: 5px 5px 5px 5px;
  padding: auto;
  width: 70px;
  height: 70px;
  font-size: 24px;
  background-color: lightgreen;
}

.backspaceButton {
  border-radius: 100%;
  border: none;
  margin: 5px 5px 5px 5px;
  padding: auto;
  width: 70px;
  height: 70px;
  font-size: 24px;
  background-color: transparent;
}

body {
  font: 12pt Helvetica, sans-serif;
}

.passCodeScreen{
    background-image: url(IPhoneImages/backgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,83,121,1) 0%, rgba(4,165,148,1) 12%, rgba(4,169,149,1) 62%, rgba(0,212,255,1) 100%); */
}

#emergencyCall{
    color: red;
    padding-bottom: 20px;
}

#phoneNumber {
  font-size: 30px;
}
